html{
	font-size: 12px;
	font-family: 'Microsoft YaHei';
}
.main-div{
	width: 30%;
	margin: 10px auto;
}
.main-div div{
	box-sizing:border-box;
	width: 100%;
	padding: 0 5%;
}
.main-div input{
	box-sizing:border-box;
	font-size: 1.3rem;
	width: 70%;
	height: 40px;
	outline: none;
	border: 1px solid black;
	border-radius: 6px;
}
.main-div input:focus{

	box-shadow: 3px 3px 3px rgba(0,0,0,0.5),
							inset 3px 3px 3px rgba(0,0,0,0.4);
}
.style-btn{
	box-sizing: border-box;
	background-image: linear-gradient(to bottom, yellow, white 50%, orange);
	width: 25%;
	height: 40px;
	margin-left:5%;
	border-radius: 10px;
	border:none;
	font-size: 1.2rem;
	line-height: 40px;
	outline: none;
}
.style-btn:hover{
	box-shadow: 3px 3px 3px rgba(255,211,0,0.5);
	font-weight: bold;
}
.style-btn:active{
	box-shadow: 3px 3px 3px rgba(255,211,0,0.5);
}
ul{
	padding: 0 5px;
	line-height: 3rem;
	box-sizing: border-box;
}
.style-item{
	box-sizing: border-box;
	width: 100%;
	font-size: 1.4rem;
	list-style: none;
	padding-left: 0;
	padding: 0 20px;
	border-radius:10px;
}
li:nth-child(2n+1){
	background-color: rgba(255,211,0,0.5);
}

@media all and (max-width: 640px) {
	.main-div input{
		width: 100%;
		margin-bottom: 10px;
	}
	.style-btn{
		width: 100%;
		display: block;
		margin:0;
	}
}